.container {
    max-width: 110rem;
    height: 100vh;
    padding: 2.4rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3.2rem;
}

.footer {
    margin-top: 3.2rem;
    text-align: center;
    font-size: 0.75rem;
}

.logo {
    cursor: pointer;
}

.theme_switcher {
    border: none;
    background-color: transparent;
    padding: 0;
    color: var(--text-color-secondary);
    margin-left: .4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
